*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.main{
 width: 500px;
 border: 1px solid black;
 margin: auto;
 margin-top: 51px;
 padding: 10px;
 border-radius: 5px;
 box-shadow: 0 0 2px rgba(0, 0, 0, 0.493);
 background-color: #CDF0C1;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 gap: 20px;
}
.img{
 /* border: 2px solid; */
 height: 110px;
 /* margin-bottom: 10px; */
}
.img img{
 width: 100%;
 height: 100%;
}
.hr1{
 margin: -5px 0;
}
.main-center {
 background-color: #FFCC01;
 height: 40px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.main-center span{
 font-size: 22px;
 font-family: sans-serif;
 font-weight: bold;
}
.box{
 background-color: #FFD234;
 height: 80px;
 border-radius: 10px;
 position: relative;
 z-index: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 10px;
}
.box::before{
 content: '';
 position:absolute;
 top:50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: linear-gradient(
  45deg,  #fcc70a, #FFD234
 );
 z-index: -1;
 height: calc(100%);
 width: calc(100%);
 border-radius: 10px;
}
.box::after{
 content: '';
 position:absolute;
 top:50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background-color: #FFFF91;
 z-index: -2;
 height: calc(100% + 2px);
 width: calc(100% + 2px);
 border-radius: 10px;
 border: 1px solid #D38702;
 box-shadow: 0 0 1px #d3860297;
}
.input-btn{
 border: 1px solid #D38702;
 height: 100%;
 width: 100%;
 position: relative;
 overflow: hidden;
}
.input-btn input{
 position: absolute;
 height:100% ;
 width: 100%;
 padding: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: sans-serif;
 font-size: 25px;
 font-weight: bold;
color:#333333;
;

}
.input-btn input::placeholder{
 font-size: 25px;
color:#333333e7;
}
.btn-div{
 position: absolute;
 right: 2px;
 top:2px;
 height: 100%;
}
.btn-div .btn{
 height: 54px;
 width: 100px;
 border-radius: 2px;
 font-size: 20px;
 border: 1px solid black;
 background-color: #016600;
 color: white;
}
.btn-div .btn:hover{
 cursor: pointer;
}
.error{
 /* border: 2px solid; */
 background-color: red;
 color: white;
 text-align: center;
 font-size: 20px;
 margin: 5px 0;
 height: 40px;
 display: flex;
 justify-content: center;
 align-items: center;
 display: none;
}

@media screen and (max-width:520px) {


  .main{
    width: calc(100% - 10px);
    margin-left: 4px;
  }

}

